

#content-wrapper {
        min-height:90vh;
        width:100%;
        margin-top:10vh;
}

#content {
        width:80vw;
        position:absolute; margin:auto;
}

.box {
    opacity:1.0;
    font-family:'Lora', Georgia, 'Times New Roman', Times, serif;
    font-size:11px;
    position:relative;
        width:100%;
        opacity:1.0;
         -webkit-transition: opacity 0.8s ease-in-out;
            -moz-transition: opacity 0.8s ease-in-out;
                 transition: opacity 0.8s ease-in-out;
}

.box:hover {opacity:1.0;}
 

.isotope-item {z-index: 2;}
.isotope-hidden.isotope-item {pointer-events: none;z-index: 1;}
.isotope, .isotope .isotope-item {-webkit-transition: 0.8s ease-in-out;-moz-transition: 0.8s ease-in-out;transition: 0.8s ease-in-out;}
.isotope {-webkit-transition-property: height, width;-moz-transition-property: height, width;transition-property: height, width;}
.isotope .isotope-item {-webkit-transition-property:-webkit-transform, opacity;-  moz-transition-property:-moz-transform, opacity; transition-property: transform, opacity;}      
#filters, #quicksearch {color:#aaa; background:rgba({RGBcolor:Background},1); z-index:999; -webkit-transition: 0.8s ease-in-out;-moz-transition: 0.8s ease-in-out;transition: 0.8s ease-in-out;   }

.hide {display:none; }
.active {display:block;}





/* infinite scrolling */


#footer {
    width:100%;
    position:relative;
    bottom:0px;
    z-index:10;
}

.pagination {
    z-index:50;
    margin-top:50px;
    margin-bottom:50px;
}

.load-more {
    z-index:100;
    font-family:'{text:Body Font}';
    left:50vw;
    border:0;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:10vw;
    padding-right:10vw;
    background:#f0f0f0;
    color:#9f9f9f;
         -webkit-transition: 0.8s ease-in-out;
            -moz-transition: 0.8s ease-in-out;
                 transition: 0.8s ease-in-out;    
}

.load-more:hover {
    background:#aaa;
    color:{color:Background};
}

.load-more:focus {
    border:none;
}

#infscr-loading{
    position:absolute;
    margin-left:50%;
    margin-right:50%;
    bottom:0px;
}

#infscr-loading img{
    width:10px;
    opacity:0;
}

/* end infinite scrolling */


